version: '3.8'
services:
  db:
    image: postgres:14
    container_name: demo-postgres-14.2
    volumes:
      - db_pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: 
      "postgres -c 'max_connections=500'"
    environment:
      - POSTGRES_DB=${DATABASE_NAME}_development
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - my-net 
  web:
    build: 
      context: .
      dockerfile: dev.dockerfile
    command: "./bin/rails s -b '0.0.0.0'"
    environment:
      - RAILS_ENV=development
      - RAILS_MASTER_KEY=ac71f7deec3ddf4f165d8ef6819f7861
      - POSTGRES_HOST=db
      - POSTGRES_DB=${DATABASE_NAME}_development
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@db:5432/${DATABASE_NAME}_development
    volumes:
      - app-storage:/rails/storage
      - ./app:/rails/app
    depends_on:
      - db
    ports:
      - "3000:3000"
    networks:
      - my-net      
networks:
  my-net:
    driver: bridge
volumes:
  db_pg_data: {}
  app-storage: {}