<div id="comment_<%= comment.id %>" class="comment row">
  <div class='col-3'><%= time_ago_in_words(comment.created_at) %> ago</div>
  <div class='col-6'><%= comment.content %></div>
  <div class='col-2'><%= link_to "delete", destroy_comment_product_path(comment.commentable, comment),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></div>
</div>