<%= turbo_frame_tag "distilleries-frame" do %> 
    <% filter ||= 'All' %>
    <% @distilleries.each do |distillery| %>
        <p><%= link_to distillery.owner_name, distillery_path(distillery, filter: filter), data: { controller: 'link-redirect', action: 'click->link-redirect#click'} %></p>
    <% end %>
<% end %>