<%= turbo_frame_tag "distilleries-frame" do %> 
    <% @distilleries.each do |distillery| %>
        <p><%= link_to distillery.owner_name, distillery, data: { turbo_frame: 'distilleries-frame', controller: 'link-redirect', action: 'click->link-redirect#click'} %></p>
    <% end %>
<% end %>