<p style="color: green"><%= notice %></p>

<p class='h1 text-center'>Distilleries</p>

<div id="distilleries" class="container">
  <% @distilleries.each do |distillery| %>
    <p>
      <%= link_to distillery.owner_name, distillery %>
    </p>
  <% end %>
</div>

