<p style="color: green"><%= notice %></p>

<%= render @distillery %>

<div>
  <%= link_to "Back to Deistilleries", distilleries_path %>
</div>

<%= content_tag(:iframe, nil, 
                src: @distillery.google_map_embed_link,
                width: "600",
                height: "450",
                frameborder: "0",
                style: "border:0;",
                allowfullscreen: "") %>
