<div id="<%= dom_id product %>" class='row bg-light bg-gradient'>
    <div class='col col-md-1'>
        <% product.images.each do |image| %>
            <%= image_tag image.variant(resize_to_limit: [100, 100]) || 'default_bottle.png' %>
        <% end %>
    </div>
    <div class='col'>
        <%= product.name%>
    </div>
</div>
