    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ Rails.application.credentials.google_maps_api_key}&libraries=visualization" %>

<%= render partial: 'state_center_data' %>


<div class='container bg-info bg-gradient mb-5 p-2'>
  <div class="state-dropdown btn" >
    <div class='row'>
      <div class=col-md>
        <%= select_tag 'dropdown', options_for_select(state_options_for_select, selected: current_state), include_blank: 'Select a State', class: 'form-select form-control', data: { controller: 'google-map', action: 'change->google-map#handleChange' } %>
      </div>
    </div >
  </div>
</div>


<div class='container'>
<div id="heatmap" style="height: 600px;"></div>
</div>
