<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ Rails.application.credentials.google_maps_api_key}" %>

<h1>Map#display</h1>
<p>Find me in app/views/map/display.html.erb</p>
<div data-controller="google-map" id="map" style="height: 600px;"></div>
